@media (min-width: 450px) {

  footer {
    width: auto;
    height: 692px;
    margin-left: 20px;
  }

  .nftlanding {
    font-weight: bold;
    font-size: 30px;
  }

  .foot {
    display: flex;
    align-items: center;
  }

  .socMedia {
    display: flex;
    gap: 15px;
  }

  nav {
    width: auto;
    height: 300px;
    margin-top: 40px;
  }

  .navbar1 {
    display: flex;
    width: 421px;
    height: 140px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

  }

  .nav1 {
    color: gray;
    text-decoration: none;
    font-size: 20px;
  }

  .navbar2 {
    display: flex;
    width: 400px;
    height: 110px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;


  }

  span {
    font-weight: bold;
  }

  .launch {
    display: none;
  }


}


@media (min-width: 1200px) {


  .navbar1 {
    display: flex;
    width: 421px;
    height: 140px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  nav {
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
  }

  .navbar2 {
    display: flex;
    width: 400px;
    height: 100px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;


  }

  .launch {
    display: flex;
  }

  .footer-copy {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
  }

  footer {
    margin-left: 40px;

  }
}