@media (min-width: 450px) {
  #hero {
    width: auto;
    height: 500px;
  }

  #hero>div>h3 {
    color: #ff459f;
  }

  #hero>div>h1 {
    font-weight: bold;
    font-size: 48px;
  }

  #hero>div>p {
    font-size: 20px;
  }

  .heroText {
    display: inline-block;
    width: 274px;
    margin-top: 40px;
    margin-left: 25px;
  }

  .pseudo {
    font-weight: bold ;
    display: block;
    margin-top: 20px;
    position: relative;
    border-radius: 5em;
    padding: 1em 2em;
    background: white;
    border: 10px;
    width: 120px;
    height: 50px;
  }
  .pseudo:after {
    position: absolute;
    z-index: -1;
    top: -2px;
    bottom: -2px;
    right: -2px;
    left: -2px;
    background: linear-gradient(to right, red 0%, orange 100%);
    border-radius: 2em;
    content: '';
  }

  .img1 {
    position: absolute;
    width: 132.69px;
    height: 306px;
    left: 317.68px;
    top: 71px;
  }

  .img5 {
    display: none;
  }
}

@media (min-width: 1200px) {
  .img1 {
    display: none;
  }

  .img5 {
    display: flex;
    position: absolute;
    width: 250px;
    height: 400px;
    right: 261px;
    top: 150px;

  }

  .heroText {
    display: inline-block;
    height: 500px;
    width: 445px;
    margin-top: 40px;
    margin-left: 40px;
  }

  #hero>div>h1 {
    font-weight: bold;
    font-size: 68px;
  }

  #content {
    margin-top: 50px;
  }

  .pseudo{
    width: 120px;
    height: 50px;
  }


}