@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import url(./header.css);
@import url(./hero.css);
@import url(./content.css);
@import url(./footer.css);


body {
  margin: 0;
}

@media (min-width: 1200px) {
  body {
    margin-left: 40px;
    margin-right: 40px;
  }
}