@import url('./komponentai/css/AddForm.css');
@import url('./komponentai/css/Homepage.css');
@import url('./komponentai/css/Navbar.css');

body {
  background-color: #ecebea;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

