@media (min-width: 450px) {
  #galery {
    background-color: #645cff;
  }

  .foto {
    width: 450px;
  }
}


@media (min-width: 1245px) {
  #galery {
    margin-top: 80px;
  }

  .ourgalery {
    width: auto;
    height: 100px;
    padding-top: 80px;
  }

  .sweet {
    display: flex;
    justify-content: flex-start;
   

  }

  .foto {
    width: 100%;
    height: auto;
    object-fit:cover;
  }
  

  .uno {
    width: 750px;
    height: 250px;
    margin-left: 20px;
  }
}