:root{
  --color-warning: blue;
  font-size: 16px;
  line-height: 1;
}



[class^='col']{
  border: 1px solid black;
  background-color: pink;
}


#preprocessors h1 {
  font-size: 2rem;
}
#preprocessors div{
  display: flex;
  align-items: baseline;
  font-size: 10px;
}
#preprocessors > div > h3 {
  color: var(--color-warning);
  font-size: 2em;
}
@media (max-width: 500px){
  :root{
    font-size: 20px;
  }
}


