@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");

@import url("rodomosinfo.css");
body{
    background-image: url(../resources/bg.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  header {
    color: #fff;
    padding: 2em 0;
    background-color: rgba(0,0,0,0.5);
  }
  .inner {
    max-width: 60em;
    margin: 0 auto;
    padding: 0 2em;
    text-align: center;
  }
  .inner h1 {
    font-size: 3em;
    margin: 0 0 0.5em 0;
  }
  .inner p {
    margin: 0 0 2em 0;
  }
  .inner .actions {
    display: flex;
    justify-content: center;
  }

  .inner a {
    color: #fff;
  }
  .inner a:hover {
    color: gray;
  }

  .logo {
    display: block;
    width: 40px;
    max-width: 10em;
    margin: 0 auto 1em auto;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 20px;
  }
  hr {
    border: 0;
    border-top: 1px solid #fff;
    margin: 2em 0;
  }
  .content {
    max-width: 60em;
    margin: 0 auto;
    padding: 0 2em;
  }
  .content h2 {
    font-size: 2em;
    margin: 0 0 1em 0;
  }
  .content p {
    margin: 0 0 1.5em 0;
  }

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
button{
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    border: 1px solid #fff;
    padding: 0 10px;
    font-size: 0.8rem;
    color: #fff;
    margin: 0;
    padding: 0;
    width: 150px;
    height: 50px;
}
button:hover{
    background-color: gray;
}
#intro > button{
  background-image: url(../resources/xmark-solid.svg);
  background-color: rgba(0,0,0,0.5);
  width: 30px;
  border: none;
  height: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  
}
#intro > button:hover{
 rotate: 90deg;
}

#work > button{
  background-image: url(../resources/xmark-solid.svg);
  background-color: rgba(0,0,0,0.5);
  width: 30px;
  border: none;
  height: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  
}
#work > button:hover{
 rotate: 90deg;
}
#about > button{
  background-image: url(../resources/xmark-solid.svg);
  background-color: rgba(0,0,0,0.5);
  width: 30px;
  border: none;
  height: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  
}
#about > button:hover{
 rotate: 90deg;
}
#contact > button{
  background-image: url(../resources/xmark-solid.svg);
  background-color: rgba(0,0,0,0.5);
  width: 30px;
  border: none;
  height: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  
}
#contact > button:hover{
 rotate: 90deg;
}

#contact > button{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}
#intro > button{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

#work > button{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

#about > button{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}
.vertLine{
  border-left: 1px solid #fff;
  height: 32px;
  position: absolute;
  left: 50%;
  top: 120px;
}
.vertLine2{
  border-left: 1px solid #fff;
  height: 32px;
  position: absolute;
  left: 50%;
  top: 338px;
}
@media screen and (max-width: 768px) {
    .inner {
        padding: 0 1em;
    }
    .inner h1 {
        font-size: 2em;
    }
    .inner p {
        margin: 0 0 1em 0;
    }
    .inner .actions {
        flex-direction: column;
    }
    .inner .actions li {
        width: 100%;
        margin: 0 0 1em 0;
    }
    .inner .actions li input {
        width: 100%;
    }
    .content {
        padding: 0 1em;
    }
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10px;

    }
    #header > nav > button{
       width: 100%;
    }

    .vertLine2{
      border-left: 1px solid #fff;
      height: 32px;
      position: absolute;
      left: 50%;
      top: 330px;
    }
}