@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

body>header>div.logosfromLeft>img {
  width: 97px;
  margin-right: 10px;
  padding-left: 10px;
}

#menu:hover {
  background-color: #e5e5e5;
  border-radius: 50%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 15px;
}

main {
  display: flex;
  background-color: #f9f9f9;
}

.sidebar {
  height: 100%;
  width: 17%;
  background-color: white;
  overflow-y: hidden;
}

.logosfromLeft {
  display: flex;
  align-items: center;
}

.logosfromLeft #menu {
  padding: 0 7px;
  cursor: pointer;
}

.search {
  display: flex;
}

.search form {
  display: flex;
  border: 1px solid #ddd;
  height: 45px;
  border-radius: 50px;
}

.search input {
  width: 600px;
  padding: 10px;
  border: 0;
  height: 100%;
  border-radius: 50px;
}

input:focus {
  outline: none;
  border: 1px solid #ddd;
}

.search button {
  height: 100%;
  width: 60px;
  border: none;
  border-radius: 0 50px 50px 0;
}

.mic {
  margin-top: 10px;
}

.material-icons {
  color: rgb(100, 100, 100);
  padding: 0 7px;
  cursor: pointer;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 12px 25px;
}

.nav-link:hover {
  background: #e5e5e5;
  cursor: pointer;
}

.active {
  background: #e5e5e5;
}

hr {
  height: 1px;
  background-color: #e5e5e5;
  border: none;
}

.sub {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding-top: 20px;

}

.subscription {
  display: flex;
  align-items: center;
  padding: 12px 25px;
}

.subscription:hover {
  background: #e5e5e5;
  cursor: pointer;
}

.subscription img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.subscription span {
  font-size: 14px;
  color: rgb(100, 100, 100);
}

.content {
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  border-top: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}


.card {
  width: 300px;
  height: 290px;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.cardlogo {
  display: flex;
  align-items: center;
  padding: 12px;
}

.cardlogo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.details {
  display: flex;
}

.title h3 {
  color: rgb(3, 3, 3);
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 6px;
}

.title a,
span {
  text-decoration: none;
  color: rgb(96, 96, 96);
  font-size: 15px;
}


a {
  text-decoration: none;
  color: rgb(96, 96, 96);
  font-size: 15px;
}

.card__info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

