.loginRegister
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.loginRegister a
{
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 500;
}

.loginRegister a:hover
{
  color: #f00;
}

.loginRegister a:active
{
  color: #0f0;
}

hr {
  width: 100%;
  border: 1px solid #000;
}



