body {
  background-color: black;
}

.task3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 50px;
  width: auto;
}

.task3>div {
  border: 2px solid blue;
  text-align: center;
  color: aqua;
  font-size: 15px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.div3 {
  grid-area: 1 / 3 / 2 / 4;
}

.div4 {
  grid-area: 1 / 4 / 2 / 5;
}

.task32 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 500px;
  width: auto;
  margin: 20px;
}

.div5 {
  grid-area: 1 / 1 / 4 / 4;
}

.div6 {
  grid-area: 4 / 1 / 7 / 3;
}

.div7 {
  grid-area: 7 / 1 / 13 / 2;
}

.div8 {
  grid-area: 10 / 2 / 13 / 5;
}

.div9 {
  grid-area: 4 / 3 / 10 / 4;
}

.div10 {
  grid-area: 1 / 4 / 10 / 5;
}

.task32>div {
  border: 2px solid violet;
  text-align: center;
  color: aqua;
  font-size: 25px;
}


h3 {
  position: relative;
  margin: 0;
  top: 30%;
}

.hh1 {
  position: relative;
  margin: 0;
  top: 40%;
}

.hh2 {
  position: relative;
  margin: 0;
  top: 40%;
}

.hh3 {
  position: relative;
  margin: 0;
  top: 45%;
}