.korteles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #000;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 800px;
  background-color: #f5f5f5;
  border: 1px solid #000;
}

.content h1 {
  font-size: 30px;
}

.content img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.content p {
  font-size: 20px;
  margin-bottom: 20px;
}

.content button {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  cursor: pointer;
  color: #fff;
}

.content button:hover {
  background-color: #333;
}

.content button:active {
  background-color: #bdbdbd;
}

.ModalForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 600px;
  background-color: #f5f5f5;
  border: 1px solid #000;
}

.ModalForm label {
  font-size: 20px;
}

.ModalForm input {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  cursor: pointer;
  color: #fff;
}

.ModalForm input:hover {
  background-color: #333;
}

.ModalForm input:active {
  background-color: #bdbdbd;
}

.ModalForm button {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  cursor: pointer;
  color: #fff;
}

.ModalForm button:hover {
  background-color: #333;
}

.ModalForm button:active {
  background-color: #bdbdbd;
}